process {
    withName: PICARD_ADDORREPLACEREADGROUPS {
        ext.args = {[
            "--CREATE_INDEX True",
            "--RGID ${meta.id}",
            "--RGLB RNAseq",
            "--RGPL illumina",
            "--RGPU ${meta.id}",
            "--RGSM ${meta.id}"
        ].join(' ')}
        ext.prefix = { "${meta.id}.RG" }
    }
}
