executor {
     perJobMemLimit=true
}

 workDir =    "${baseDir}/../../work"
 tmpDir =     "${baseDir}/../../tmp"

params {
  outdir =    "${baseDir}/../../results"
  reportdir = "${baseDir}/../../reports"

  genomes_base = "/nfs/cellgeni/genomes"
  clusterOptions = false
}

profiles {
  farm4_singularity_gn5 {
    includeConfig './conf/base.config'
    includeConfig './conf/genomes.config'
    includeConfig './conf/singularity_gn5.config'
  }
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

timeline {
  enabled = true
  file = "${params.reportdir}/timeline.html"
}
trace {
  enabled = true
  file = "${params.reportdir}/trace.txt"
}
