executor {
     perJobMemLimit=true
}

 workDir =    "${baseDir}/../../work"
 tmpDir =     "${baseDir}/../../tmp"

params {
  outdir =    "${baseDir}/../../results"
  reportdir = "${baseDir}/../../reports"

  clusterOptions = false
}

profiles {
  lsf {
    includeConfig '${baseDir}/../confs/lsf.conf'
  }
  fce {
    includeConfig '${baseDir}/../confs/fce.conf'
  }
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

timeline {
  enabled = true
  file = "${params.reportdir}/timeline.html"
}
trace {
  enabled = true
  file = "${params.reportdir}/trace.txt"
}
